@import "../../../styles";

.home-feed-item {
  margin: 20px;
  padding: 20px;
  display: flex;
  @include glass;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}
