@import "src/styles";

.header {
  background: linear-gradient(267deg, #eaeaea 0%, #eaeff3 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.auth-link {
  color: $color-txt-primary;
  font-size: $text-size-small;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.cart-label {
  font-size: $text-size-small;
  background: $color-primary;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 15px;
}

.header-controls {
  display: flex;
  align-items: center;
}
