<div class="profile-wrapper">
  <div class="profile">

    <div class="user-image">
      <img src="assets/images/person.jpg" width="200" alt="user">
    </div>

    <div class="user-info">
      <div class="user-info-item">
        <span class="info">Name:</span>
        <span class="data">Person</span>
      </div>
      <div class="user-info-item">
        <span class="info">Account status:</span>
        <span class="data">Golden VIP</span>
      </div>
      <div class="user-info-item">
        <span class="info">Age:</span>
        <span class="data">45</span>
      </div>
    </div>

    <div class="account-controls">
      account controls
    </div>

    <div class="recent-orders">
        recent orders
    </div>
  </div>
</div>
