@import "../../../../styles";
$dummy-background: #eaeaea;

.order-page {
  display: flex;
  padding: 20px;
}

.item-list {
  width: 50%;
  border-right: 2px solid gainsboro;
  padding-right: 10px;
}

.item {
  @include glass;
  margin: 10px 0;
  padding: 10px;
  font-size: $text-size-medium;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0 0;
  grid-template-areas:
    "image details"
    "image details";

  &-link {
    text-decoration: none;
    color: $color-txt-primary;
  }

  .item-details {
    padding: 0 10px;
    grid-area: details;
    display: flex;
    flex-direction: column;

    .item-price {
      margin-top: 10px;
      color: $color-primary;
      font-weight: bold;
    }
  }

  .img-card {
    grid-area: image;
    img {
      border-radius: 4px;
      border: $image-border;
    }
  }

  &-name--dummy {
    margin-top: 5px;
    height: 38px;
    background: $dummy-background;
  }
  &-price--dummy {
    height: 21px;
    background: $dummy-background;
  }
  &-description--dummy {
    height: 19px;
    background: $dummy-background;
  }
}

.item-view {
  padding: 20px;
}

.image-dummy {
  width: 400px;
  height: 400px;
  background: $dummy-background;
  display: flex;
  justify-content: center;
  align-items: center;
  color: darken($dummy-background, 20%);
}
