@import "./src/styles";

.registration-form {
  @include glass;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color-txt-primary;
}

.additional-message {
  margin: 10px 0;
}

.auth-button {
  display: block;
  margin: 10px 0;
}

.auth-link {
  color: darken($color-primary, 5%);
  cursor: pointer;
}
