<div *ngIf="item" class="item">
  <div class="image-wrapper">
    <img src="{{item?.imageUrl}}" alt="{{item?.name}}">
  </div>
  <div class="item-info">
    <h1 class="item-name">{{item?.name}}</h1>
    <span class="item-price">₴ {{item?.price}}</span>
    <span class="item-description">{{item?.description}}</span>
  </div>
  <app-button-generic [text]="item?.inCart ? 'Added' : 'Add to cart'" (click)="addToCart()" [disabled]="item?.inCart"
                      [classList]="'button-generic-wide'" class="add-button">
  </app-button-generic>
  <span class="item-remove" *ngIf="item?.inCart" (click)="removeFromCart()">Remove</span>
</div>

