$font-primary: 'Roboto', sans-serif;
$font-secondary: 'OpenSansCondensed', sans-serif;
$color-primary: #207a44;
$color-txt-primary: #353333;
$text-size-medium: 18px;
$text-size-small: 13px;
$image-border: 1px solid gainsboro;

// FONTS
@font-face {
  font-family: 'OpenSansCondensed';
  src: url('assets/fonts/OpenSansCondensed-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansCondensed';
  src: url('assets/fonts/OpenSansCondensed-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSansCondensed';
  src: url('assets/fonts/OpenSansCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// MIXINS
@mixin full-height {
  min-height: calc(100vh - 78px);
}
@mixin glass {
  background: rgba(250, 251, 251, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  border-radius: 5px;
}
@mixin button-generic {
  padding: 5px 10px;
  background: $color-primary;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: .2s all ease-in-out;

  &:hover {
    background: darken($color-primary, 5%);
  }

  &:disabled {
    background: #a5c1a8;
    color: #626262;
    &:hover {
      background: #a5c1a8;
    }
  }
}

body {
  background: url('./assets/images/bg.jpg') no-repeat fixed center;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
}

.wrapper {
  min-width: 80%;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.block {
  padding: 20px;
}

.page {
  @include full-height;
}

.button-generic {
  @include button-generic;

  &-wide {
    @include button-generic;
    width: 100%;
    padding: 10px;
    font-size: $text-size-medium;
  }
}
